@model EmprestimoModel

@{
    ViewData["title"] = "cadastrar pdt";
}




<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <form method="post" asp-controller="Emprestimo" asp-action="Cadastrar">



                <label for="setor" class="form-label">Setor</label>
                <input type="text" class="form-control" asp-for="setor" id="setor" placeholder="Qual o nome do setor?">





                <label for="CH" class="form-label">CH</label>
                <input type="text" class="form-control" asp-for="ch" id="CH" placeholder="Qual a carga horaria?">



                <label for="real" class="form-label">RH Real</label>
                <input type="text" class="form-control" asp-for="rhreal" id="real" placeholder="Qual o RH real?">


                <label for="ideal" class="form-label">RH Ideal</label>
                <input type="text" class="form-control" asp-for="rhreal" id="ideal" placeholder="Qual é o RH ideal?">


                <label for="comporativo" class="form-label">Comparativo</label>
                <input type="text" class="form-control" asp-for="comporativo" id="comporativo" placeholder="comparativo:">


                <div class="navbar-text mb-3">
                    <button type="submit" class=" btn btn-primary">Cadastar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>

            </form>
        </div>

    </div>
