@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Serviço Social"; 
}

<table class="table table-dark table-striped">
    <h1>
        Cenário Atual:
    </h1>

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                SETOR/CATEGORIA PROFISSIONAL
            </th>
            <th scope="col">
                C.H.
            </th>
            <th scope="col">
                EXISTENTE NA UNIDADE
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>

<h1>
    Cenário Ideal:
</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                SETOR/CATEGORIA PROFISSIONAL
            </th>
            <th scope="col">
                C.H.
            </th>
            <th scope="col">
                EXISTENTE NA UNIDADE
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>SUPERVISOR (A) SERVICO SOCIAL</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>ASSISTENTE SOCIAL</td>
            <td>30</td>
            <td>6</td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>ASSISTENTE SOCIAL</td>
            <td>30</td>
            <td>4</td>
        </tr>
      
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
    </>
