@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "UTI";
}

<table class="table table-dark table-striped">
    <h1>
        Cenário Atual:
    </h1>

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                SETOR/CATEGORIA PROFISSIONAL
            </th>
            <th scope="col">
                C.H.
            </th>
            <th scope="col">
                EXISTENTE NA UNIDADE
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>MAQUEIRO</td>
            <td>44</td>
            <td>5</td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>FISIOTERAPEUTA UTI-ADULTO</td>
            <td>30</td>
            <td>12</td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>FONOAUDIOLOGO</td>
            <td>36</td>
            <td>3</td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>NUTRICIONISTA</td>
            <td>36</td>
            <td>5</td>
        </tr>


        <tr>
            <th scope="row">1</th>
            <td>SUPERVISOR DE FISIOTERAPIA UTI ADULTO</td>
            <td>40</td>
            <td>1</td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>ENFERMEIRO (A) DE UTI ADULTO</td>
            <td>36</td>
            <td>10</td>
        </tr>

        <tr>
            <th scope="row">1</th>
            <td>TECNICO (A) DE ENFERMAGEM</td>
            <td>36</td>
            <td>25</td>
        </tr>

    </tbody>
</table>




<table class="table table-dark table-striped">
    <h1>
        Cenário Atual:
    </h1>

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                SETOR/CATEGORIA PROFISSIONAL
            </th>
            <th scope="col">
                C.H.
            </th>
            <th scope="col">
                EXISTENTE NA UNIDADE
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>MAQUEIRO</td>
            <td>44</td>
            <td>4</td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>FISIOTERAPEUTA UTI-ADULTO</td>
            <td>30</td>
            <td>6</td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>FONOAUDIOLOGO</td>
            <td>36</td>
            <td>3</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>NUTRICIONISTA</td>
            <td>36</td>
            <td>5</td>
        </tr>


        <tr>
            <th scope="row">5</th>
            <td>SUPERVISOR DE FISIOTERAPIA UTI ADULTO</td>
            <td>40</td>
            <td>1</td>
        </tr>

        <tr>
            <th scope="row">6</th>
            <td>ENFERMEIRO (A) DE UTI ADULTO</td>
            <td>36</td>
            <td>10</td>
        </tr>

        <tr>
            <th scope="row">7</th>
            <td>TECNICO (A) DE ENFERMAGEM</td>
            <td>36</td>
            <td>25</td>
        </tr>

    </tbody>
</table>
